# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# Firebase sensitive files
serviceAccountKey.json
service-account-key.json
functions/.env

# Documentation and Assignments
docs/
assignment_workspace/
combined_master_study_plan.md
eRoyal_Project_Overview.md
three_day_master_study_plan.md
poster.html
scripts/generate_eroyal_documentation.cjs
